body, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 90pc 40pc;

}
header{
    width: 100%;
    height: 100px;
    font-family: sans-serif;
}
nav{
    width: 100%;
    height: 100px;
/*background: rgb(151, 32, 78);*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
   
    width: auto;
    height: auto;
    font-size: 2em;
    color: rgb(182, 149, 42);
}

.menu a{
    text-decoration: none;
    color:rgb(182, 149, 42);
    padding: 10px 20px;
    position: relative;
    
}
.menu a:before{
    content: '';
    position :absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-top: 2px solid rgb(182, 149, 42);
    transition: 0.45 linear;
}
.menu a:hover:before{
    width: 100%;
}
.Buy{
    text-decoration: none;
    color: rgb(104, 54, 54);
    padding: 10px 20px;
    background: rgb(236, 17, 200);
    border-radius: 8px;
    transition: 0.4s;
}
.img{
   font-size: large;
    color: rgb(244,217,198) ;
    font-family: sans-serif;
    font-family: 'Times New Roman', Times, serif;
}
.button a{
    text-decoration: none;
    color: blue;
    padding: 10px 20px;
    transition: 0.4s;
}


.button :hover{
    background-color: aqua;
   border: 1px solid rgb(145, 106, 21);*/
    color: black;
}
